{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

       <!-- Background color split screen for large screens -->
       <div class="fixed top-0 left-0 h-full w-1/2 bg-white" aria-hidden="true"></div>
       <div class="relative flex min-h-full flex-col">
         
       
         <!-- 3 column wrapper -->
         <div class="mx-auto w-full max-w-full flex-grow lg:flex xl:px-8">
           <!-- Left sidebar & main wrapper -->
    <div class="min-w-0 flex-1 bg-white xl:flex">
      <!-- Account profile -->
      <div class="bg-white xl:w-64 xl:flex-shrink-0 xl:border-r xl:border-gray-200">
        <div class="py-6 pl-4 pr-6 sm:pl-6 lg:pl-8 xl:pl-0">
          <div class="flex items-center justify-between">
            <div class="flex-1 space-y-8">
              <div class="space-y-8 sm:flex sm:items-center sm:justify-between sm:space-y-0 xl:block xl:space-y-8">
                <!-- Profile -->
                <div class="flex items-center gap-4">
                  <div class="h-12 w-12 flex-shrink-0">
                    <a href="{% url 'account' %}">
                      <span class="inline-flex h-12 w-12 items-center justify-center rounded-full bg-black">
                        <span class="text-lg font-medium leading-none text-white uppercase">{{ user.username|make_list|first }}</span>
                      </a>
                    </span>
                  </div>
                  <div class="">
                    <a href="{% url 'account' %}">

                      <div class="text-lg font-medium text-gray-900 capitalize">{{user.username}}</div>
                      <div class=" flex items-center text-sm font-medium capitalize text-gray-500 sm:mr-6 sm:mt-0">
                        <!-- Heroicon name: mini/check-circle -->
                        
                        Pro Member
                      </div>
                    </a>

                  </div>
                </div>
                
                <!-- Action buttons -->
                <div class="flex flex-col sm:flex-row xl:flex-col">
                  <a href="{% url 'dashboard' %}" type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-black px-4 py-2  text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 xl:w-full">Dashboard</a>
                  <a href="{% url 'home' %}" type="button" class="mt-3 inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">Home</a>
                </div>
              </div>
              <!-- Meta info -->
              <div class="flex flex-col space-y-6 sm:flex-row sm:space-y-0 sm:space-x-8 xl:flex-col xl:space-x-0 xl:space-y-6">
                <div class=" space-x-2">
                  <p class="text-sm font-medium text-gray-500 pt-5 uppercase">Learning & Resources</p>
                  <ul>
                    
                    <li class="pt-2"><a href="" class="flex pt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                      </svg>
                      
                      <span class="ml-2">What's new</span>
                    </a></li>

                    <li class="pt-2"><a href="" class="flex pt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                      </svg>
                      
                      <span class="ml-2">Roadmap</span>
                    </a></li>
                    
                    <li class="pt-2"><a href="" class="flex pt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
                      </svg>
                      
                      
                      <span class="ml-2">Youtube</span>
                    </a></li>
                  </ul>
                </div>
                
                <div class="space-x-2">
                  
                  <p class="text-sm font-medium text-gray-500 uppercase">Help & support</p>
                  <ul>
                    
                    <li class="pt-2"><a href="" class="flex pt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                      </svg>
                      
                      
                      <span class="ml-2">Email us</span>
                    </a></li>

                    <li class="pt-2">
                      <a href="https://twitter.com/Survey_wizard" target="_blank" class="flex pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
                      
                      <span class="ml-2">Tweet @survey_wizard</span>
                    </a> 
                    </li>
                  </ul>
                </div>
                <!-- <div class="pt-44">
                 <img class=" w-auto " src="{% static 'img/swlogohat.png' %}">
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
       
           
             
            <!-- Survey List -->
            <div class="bg-white lg:min-w-0 lg:flex-1">
             <div
               class=" border-b border-gray-200 pl-4 mb-3 pr-6 pt-4 pb-4 sm:pl-6 lg:pl-8 xl:border-t-0 xl:pl-6 xl:pt-6"
             >
               <div class="flex justify-center items-center">
                 <h1 class="flex justify-center text-2xl font-medium">Add Answer Options</h1>
               </div>
             </div>
               
                   <div class="flex items-center justify-center border-b border-gray-200">
                     <!-- Repo name and link -->
                     <div class="min-w-0 space-y-3">
                      {% if question.type == 'Multiple choice' %}
                       <form class="flex justify-center flex-col " action="" method="POST">
                         {% csrf_token %} 
                           <div class="mb-8 mt-5 flex justify-center">
                               <h2 class="text-black font-medium text-xl text-center">
                                {{ question.prompt }}
                               </h2>
                           </div>
                          
                           <div class="mb-3">
                               <h2 class="text-black font-medium text-xl text-center">
                                 Add Options
                               </h2>
                           </div>


                           <div>
                            {{ form.text|as_crispy_field }}
                           </div>
                           
                           <div class="mb-5">
                            <h2 class="text-xl text-center font-medium mb-2">Answer Options:</h2>
                            <ul>
                              {% for option in options %}
                              <li>
                                  {{ forloop.counter }}. {{option.text}}
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                           
                           <button
                             type="submit"
                             class="flex justify-center rounded-md border border-gray-300 mb-3  py-2 px-4 text-sm font-medium text-black shadow"
                           >
                             Add option
                           </button>

                           {% if options|length > 0 %}
                           <a
                            href="{% url 'survey-edit' survey.uuid %}"
                            class="flex justify-center rounded-md border border-gray-300  py-2 px-4 text-sm font-medium text-black shadow"
                           >
                             Done 
                           </a>
                           {% endif %}

                         </div>
                       </form>
                       {% endif %}

                      


                       
                     </div>
                     <div class="sm:hidden">
                       <!-- Heroicon name: mini/chevron-right -->
                       <svg
                         class="h-5 w-5 text-gray-400"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         aria-hidden="true"
                       >
                         <path
                           fill-rule="evenodd"
                           d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                           clip-rule="evenodd"
                         />
                       </svg>
                     </div>
       
       
       
                     <!-- Manage button -->
                    
                   </div>
                 </li>
                 <!-- <div class="flex justify-center py-5">
                   <a
                   type="button"
                   class="inline-flex justify-center rounded-md border border-gray-300  px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                   id="sort-menu-button"
                   aria-expanded="false"
                   aria-haspopup="true"
                 >
                   Add Question
                 </a>
                 </div> -->
                
               </ul>    
             </div>
   
             
            
            
   
          
       
             
         </div>
       </div>
  </html>
</html>

{% endblock %}








