{% load tailwind_tags %} {% load socialaccount %} {% load static %}

<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      {% tailwind_css %}
      <title>Survey Wizard - The Fastest & Easiest Survey Generator</title>
<meta name="title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
<meta name="description" content="Publish your questionnaires and view all results in real-time. ">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
<meta property="og:description" content="Publish your questionnaires and view all results in real-time. ">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
<meta property="twitter:description" content="Publish your questionnaires and view all results in real-time. ">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    </head>

    <main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-24">
      <div class="text-center">
        <h1
          class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl"
        >
          <span class="block xl:inline">{{ survey.title }}</span>
         
        </h1>
        <p
          class="mx-auto mt-3 max-w-md text-base text-gray-500 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl"
        >
          Your input matters to us. Click to begin the survey!
        </p>
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
          <form method="post" action="{% url 'survey-start' survey.uuid %}">
            {% csrf_token %}
            <button
              type="submit"
              class="flex w-full items-center justify-center rounded-md border border-transparent bg-black px-2 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-5 md:text-lg"
            >
              Start Survey
            </button>
          </form>
        </div>
      </div>
    </main>
  </html>
</html>
