{% load tailwind_tags %} {% load socialaccount %} {% load static %}

<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      {% tailwind_css %}
    </head>

 

    

    <form method="post">
      {% csrf_token %} {{ formset.management_form }}
      <h1 class="text-2xl font-bold flex justify-center">{{ survey.title }}</h1>

      {% for question, form in question_forms %}
      <div class="relative left-1/3 pt-10">
        <div class="shadow-lg rounded border border-black min-w-fit max-w-lg">
          <div class="pb-5 ml-10">
            <h4 class="mb-5 mt-5 text-lg">
              {{ forloop.counter }}. {{ question.prompt }}
            </h4>
            {% for field in form %}
            <div class="{% if field.errors %}error{% endif %}">
              <div class="">{{ field }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% endfor %}

      <div class="flex justify-center">
        <button
        type="submit"
        class="mt-5 flex justify-center rounded-md border border-transparent bg-black py-2 px-4 text-sm font-medium text-white shadow-sm"
      >
        Submit
      </button>
    </form>
      </div>
      


      <div class="absolute bottom-0 left-0 ml-3 pb-5">
        <img class="h-16 w-auto " src="{% static 'img/swlogoblack.png' %}">
      </div>
   
  </html>
</html>
