{% load tailwind_tags %} {% load socialaccount %} {% load static %}
<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Survey Created</title>
      {% tailwind_css %}
    </head>

    <div
      class=""
    >
      <div class="flex justify-center mb-8">
        <p class="font-bold text-5xl pt-44">
          Thanks for taking {{ survey.title }}<span class="ml-2"> 🎉</span>
        </p>
      </div>

      <div class="flex justify-center">
          <a href="{% url 'home' %}"
            type="submit"
            class="flex w-full max-w-fit justify-center rounded-md border border-transparent bg-black py-2 px-4 text-sm font-medium text-white shadow-sm mt-5"
            >
            Return Home
          </a>
        
      </div>

      <div class="absolute bottom-0 left-0 ml-3 pb-5">
        <img class="h-16 w-auto " src="{% static 'img/swlogoblack.png' %}">
      </div>

  </html>
</html>