{% load tailwind_tags %}
<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      {% tailwind_css %}
    </head>
    <body>
      <div class="min-h-full pt-36 gap-0 sm:px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div
            class="bg-white shadow-md shadow-black py-8 px-4 sm:rounded-lg sm:px-10"
          >
            <div class="mb-8">
              <div class="flex justify-center">
                <img
                  class="text-center h-8 w-auto mb-5"
                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                />
              </div>
              <h2 class="text-black font-bold text-2xl text-center mb-5">
                Check your email
              </h2>
            </div>

            <div class="">
              <p class="text-center">
                Please check your email for instructions to reset your password.
              </p>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
</html>
