{% load tailwind_tags %} {% load static %}
<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
      {% tailwind_css %}

  <!-- HTML Meta Tags -->
  <title>Survey Wizard - The Fastest & Easiest Survey Generator</title>
  <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.ico' %}"/>

  <meta name="description" content="Publish your questionnaires and view all results in real-time. ">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://surveywizard.io/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
  <meta property="og:description" content="Publish your questionnaires and view all results in real-time. ">
  <meta property="og:image" content="https://i.ibb.co/xYSHjgs/Swizard.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="surveywizard.io">
  <meta property="twitter:url" content="http://surveywizard.io/">
  <meta name="twitter:title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
  <meta name="twitter:description" content="Publish your questionnaires and view all results in real-time. ">
  <meta name="twitter:image" content="https://i.ibb.co/xYSHjgs/Swizard.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        
    </head>
    <body>
      <main>
        {% include 'base/navbar.html' %}

        <div class="bg-white">
          <div class="relative overflow-hidden">
            <div class="absolute inset-y-0 h-full w-full" aria-hidden="true">
              <div class="relative h-full">
               
                
              </div>
            </div>

            
                  

                

              <div class="mx-auto max-w-7xl px-4  sm:px-6">
                <div class="text-center pt-10">
                  <h1
                    class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl"
                  >
                    <span class="block">The Fastest & Easiest</span>
                    <span class="block">Multiple Choice Surveys</span>
                  </h1>
                  <p
                    class="mx-auto mt-3 mb-5 max-w-md text-base text-gray-500 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl"
                  >
                  Set up your survey in minutes, share the link, and collect data.
                </div>
              </div>
            </div>

            <div class="relative">
              <div class="absolute inset-0 flex flex-col" aria-hidden="true">
                <div class="flex-1"></div>
                <div class="w-full flex-1 bg-black pb-24"></div>
              </div>
              <div class="mx-auto max-w-7xl px-4 sm:px-6">
                <img
                  class="relative border border-black rounded-xl shadow-lg"
                  src="{% static 'img/dashboard.png' %}"
                  alt="App screenshot"
                />
              </div>
            </div>
          </div>
          <div class="bg-black pb-10">
            
            </div>
          </div>
        </div>

        <!-- FEATURES -->
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="relative bg-white py-16 sm:py-24 lg:py-32">
          <div
            id="features"
            class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8"
          >
            <h2 class="text-lg font-semibold text-gray-500">Feedback faster</h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              <!-- Everything you need to propel your business forward -->
              Getting feedback should be easy
            </p>
            <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">
              Survey Wizard is designed for ease of use and high response rates to allow you to move fast and focus on whats important.
            </p>
            <div class="mt-12">
              <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                <div class="pt-6">
                  <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                    <div class="-mt-6">
                      <div>
                        <span
                          class="inline-flex items-center justify-center rounded-md bg-black p-3 shadow-lg"
                        >
                          <!-- Heroicon name: outline/cloud-arrow-up -->
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                          
                        </span>
                      </div>
                      <h3
                        class="mt-8 text-lg font-medium tracking-tight text-gray-900"
                      >
                        Create
                      </h3>
                      <p class="mt-5 text-base text-gray-500">
                        Our custom dashboard allows for quick creation of multiple choice surveys in the matter of a few clicks.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="pt-6">
                  <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                    <div class="-mt-6">
                      <div>
                        <span
                          class="inline-flex items-center justify-center rounded-md bg-black p-3 shadow-lg"
                        >
                          <!-- Heroicon name: outline/lock-closed -->
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
                          </svg>
                          
                        </span>
                      </div>
                      <h3
                        class="mt-8 text-lg font-medium tracking-tight text-gray-900"
                      >
                        Share Easy
                      </h3>
                      <p class="mt-5 text-base text-gray-500">
                        Activate your survey, generate a unique link, and share in minutes. Collecting data doesn't get easier.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="pt-6">
                  <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                    <div class="-mt-6">
                      <div>
                        <span
                          class="inline-flex items-center justify-center rounded-md bg-black p-3 shadow-lg"
                        >
                          <!-- Heroicon name: outline/arrow-path -->
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                          </svg>
                          
                        </span>
                      </div>
                      <h3
                        class="mt-8 text-lg font-medium tracking-tight text-gray-900"
                      >
                        View Results
                      </h3>
                      <p class="mt-5 text-base text-gray-500">
                        The user dashboard allows you to view the number of survey submissions and question results with ease.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- <div class="overflow-hidden bg-gray-50 py-16 lg:py-24">
          <div class="relative mx-auto max-w-xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <svg class="absolute left-full hidden -translate-x-1/2 -translate-y-1/4 transform lg:block" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
              <defs>
                <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
            </svg>
        
            
        
            <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8">
              <div class="relative">
                <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Transfer funds world-wide</h3>
                <p class="mt-3 text-lg text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere. Totam, velit.</p>
        
                <dl class="mt-10 space-y-10">
                  <div class="relative">
                    <dt>
                      <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                        </svg>
                      </div>
                      <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Competitive exchange rates</p>
                    </dt>
                    <dd class="mt-2 ml-16 text-base text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
                  </div>
        
                  <div class="relative">
                    <dt>
                      <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
                        </svg>
                      </div>
                      <p class="ml-16 text-lg font-medium leading-6 text-gray-900">No hidden fees</p>
                    </dt>
                    <dd class="mt-2 ml-16 text-base text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
                  </div>
        
                  <div class="relative">
                    <dt>
                      <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                        </svg>
                      </div>
                      <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Transfers are instant</p>
                    </dt>
                    <dd class="mt-2 ml-16 text-base text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
                  </div>
                </dl>
              </div>
        
              <div class="relative -mx-4 mt-10 lg:mt-0" aria-hidden="true">
                <svg class="absolute left-1/2 -translate-x-1/2 translate-y-16 transform lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
                  <defs>
                    <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                  </defs>
                  <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                </svg>
                <img class="relative mx-auto" width="490" src="https://tailwindui.com/img/features/feature-example-1.png" alt="">
              </div>
            </div>
        
        
         
        </div> -->
        



        <!-- PRODUCT ROADMAP -->

        <div id="roadmap" class="bg-white pb-12">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
              <h2 class="text-lg font-semibold text-gray-500">Upcoming</h2>
              <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Product Roadmap</p>
              <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Our goal is to make this platform fast, easy, and flexible while maintaining simplicity in the user experience.</p>
            </div>
        
            <div class="mt-10">
              <dl class="space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0">
                <div class="relative">
                  <dt>
                    <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-black text-white">
                      <!-- Heroicon name: outline/globe-alt -->
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                      
                    </div>
                    <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Check many</p>
                  </dt>
                  <dd class="mt-2 ml-16 text-base text-gray-500">Survey participants can check multiple options as answer.</dd>
                </div>
        
                <div class="relative">
                  <dt>
                    <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-black text-white">
                      <!-- Heroicon name: outline/scale -->
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                      </svg>
                      
                    </div>
                    <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Comment box</p>
                  </dt>
                  <dd class="mt-2 ml-16 text-base text-gray-500">Allow participants to respond to open ended questions for more detailed feedback.</dd>
                </div>
        
                <div class="relative">
                  <dt>
                    <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-black text-white">
                      <!-- Heroicon name: outline/bolt -->
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
                      </svg>
                      
                    </div>
                    <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Slider bar</p>
                  </dt>
                  <dd class="mt-2 ml-16 text-base text-gray-500">A rating system that allows participants to rate on a scale from 1-10.</dd>
                </div>
        
                <div class="relative">
                  <dt>
                    <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-black text-white">
                      <!-- Heroicon name: outline/chat-bubble-bottom-center-text -->
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                      </svg>
                      
                    </div>
                    <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Teams</p>
                  </dt>
                  <dd class="mt-2 ml-16 text-base text-gray-500">Invite team members, assign roles, and give permissions. Perfect for large organizations that work in a collaborative enviroment.</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <!-- PRICING -->

        <!-- This example requires Tailwind CSS v2.0+ -->
        <div id="pricing" class=" max-w-7xl bg-white mx-auto py-24  sm:px-6 lg:px-8">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl sm:leading-none lg:text-6xl px-3"
          >
            Pricing plans for teams of all sizes
          </h2>
          <p class="mt-6 max-w-2xl text-xl text-gray-500 px-3">
            Choose an affordable plan that's packed with the best features for
            engaging your audience, creating customer loyalty, and driving
            sales.
          </p>

          <!-- Tiers -->
          <div
            class="mt-24 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-8 lg:space-y-0 px-3"
          >
            <div
              class="relative flex flex-col rounded-2xl border border-black bg-white p-8 shadow-sm"
            >
              <div class="flex-1 bg-white">
                <h3 class="text-xl font-semibold text-gray-900">
                  7-day Free Trial
                </h3>
                <p class="mt-4 flex items-baseline text-gray-900">
                  <span class="text-5xl font-bold tracking-tight">Free</span>
                  <span class="ml-1 text-xl font-semibold"></span>
                </p>
                <p class="mt-6 text-black">
                  The essentials to provide your best work for clients.
                  <br><br>
                  <span class="text-sm text-gray-400">
                    You will be charged $12.99 monthly after your trial expires.
                    
                  </span>
                </p>

                <!-- Feature list -->
                <ul role="list" class="mt-6 space-y-6">
                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500">3 surveys</span>
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >100 responses</span
                    >
                  </li>

                  

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >Real time results</span
                    >
                  </li>
                </ul>
              </div>

              {% if user.is_authenticated %}
              <a
                id="submitBtnFree"
                class="bg-black text-white hover: hover:cursor-pointer mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium"
                >Start Free Trial</a
              >
              {% else %}
              <a
                id="submitBtnFree"
                href="{% url 'free-billing' %}"
                class="bg-black text-white hover:cursor-pointer mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium"
                >Start Free Trial</a
              >
              {% endif %}
            </div>

            <div
              class="relative flex flex-col border rounded-2xl border-black bg-white p-8 shadow-sm"
            >
              <div class="flex-1">
                <h3 class="text-xl font-semibold text-gray-900">Individual</h3>

                <p
                  class="absolute top-0 -translate-y-1/2 transform rounded-full bg-black py-1.5 px-4 text-sm font-semibold text-white"
                >
                  Most popular
                </p>
                <p class="mt-4 flex items-baseline text-gray-900">
                  <span class="text-5xl font-bold tracking-tight">$14.99</span>
                  <span class="ml-1 text-xl font-semibold">/month</span>
                </p>
                <p class="mt-6 text-gray-500">
                  A plan that scales with your rapidly growing business.
                </p>

                <!-- Feature list -->
                <ul role="list" class="mt-6 space-y-6">
                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500">Unlimited surveys</span>
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >Unlimited responses</span
                    >
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500">Unlimited number of questions</span>
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >Real time data collection</span
                    >
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >Export results (coming soon)</span
                    >
                  </li>
                </ul>
              </div>

              {% if user.is_authenticated %}
              <a
                id="submitBtnBasic"
                class="bg-black text-white hover:bg-indigo-100 hover:cursor-pointer mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium"
                >Monthly billing</a
              >
              {% else %}
              <a
                id="submitBtnBasic"
                href="{% url 'basic-billing' %}"
                class="bg-black text-white hover:bg-indigo-100 hover:cursor-pointer mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium"
                >Monthly billing</a
              >
              {% endif %}
            </div>

            <div
              class="relative flex flex-col rounded-2xl border border-black bg-white p-8 shadow-sm"
            >
              <div class="flex-1">
                <h3 class="text-xl font-semibold text-gray-900">Team - Coming soon!</h3>
                <p class="mt-4 flex items-baseline text-gray-900">
                  <span class="text-5xl font-bold tracking-tight">$21.99</span>
                  <span class="ml-1 text-xl font-semibold">/month</span>
                </p>
                <p class="mt-6 text-gray-500">
                  Dedicated support and infrastructure for your company. $12/month per added user.
                </p>

                <!-- Feature list -->
                <ul role="list" class="mt-6 space-y-6">
                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500">Unlimited surveys</span>
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >Unlimited questions</span
                    >
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500">Unlimited responses</span>
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >Assign user roles and permissions</span
                    >
                  </li>

                  <li class="flex">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 flex-shrink-0 text-indigo-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                    <span class="ml-3 text-gray-500"
                      >Customer support</span
                    >
                  </li>

                 
                </ul>
              </div>

              {% if user.is_authenticated %}
              <a
                id="submitBtn"
                class="bg-black text-white  hover:cursor-pointer mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium"
                >Coming soon</a
              >
              {% else %}
              <a
                id="submitBtn"
                href="{% url 'premium-billing' %}"
                class="bg-black text-white  hover:cursor-pointer mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium"
                >Coming soon</a
              >
              {% endif %}
            </div>
          </div>
        </div>

        {% include 'base/footer.html' %}

      </main>
    </body>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script>
  </html>
</html>
