{% load tailwind_tags %} {% load socialaccount %} {% load static %}


{% load crispy_forms_tags %}
<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      {% tailwind_css %}
    </head>

    <div class="overflow-hidden bg-white py-16 px-4 sm:px-6 lg:px-8 lg:py-24">
      <div class="relative mx-auto max-w-xl">
        <svg
          class="absolute left-full translate-x-1/2 transform"
          width="404"
          height="404"
          fill="none"
          viewBox="0 0 404 404"
          aria-hidden="true"
        >
          <defs>
            <pattern
              id="85737c0e-0916-41d7-917f-596dc7edfa27"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect
                x="0"
                y="0"
                width="4"
                height="4"
                class="text-gray-200"
                fill="currentColor"
              />
            </pattern>
          </defs>
          <rect
            width="404"
            height="404"
            fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
          />
        </svg>
        <svg
          class="absolute right-full bottom-0 -translate-x-1/2 transform"
          width="404"
          height="404"
          fill="none"
          viewBox="0 0 404 404"
          aria-hidden="true"
        >
          <defs>
            <pattern
              id="85737c0e-0916-41d7-917f-596dc7edfa27"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect
                x="0"
                y="0"
                width="4"
                height="4"
                class="text-gray-200"
                fill="currentColor"
              />
            </pattern>
          </defs>
          <rect
            width="404"
            height="404"
            fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
          />
        </svg>
        <div class="text-center">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Cancel Subscription
          </h2>
          <p class="mt-3 text-gray">
            Your subscription will be cancelled within 24 hours of recieving
            your email. If it is not cancelled prior to your next payment you
            will be refunded 100%.
          </p>
        </div>
        <div class="mt-12">
          <form
            action="#"
            method="POST"
            class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
          >
            {% csrf_token %}
            <div>
              <label
                for="first-name"
                class="block text-sm font-medium text-gray-700 mb-2"
                >First name</label
              >
              <div class="mt-1">{{ form.first_name|as_crispy_field}}</div>
            </div>
            <div>
              <label
                for="last-name"
                class="block text-sm font-medium text-gray-700 mb-2"
                >Last name</label
              >
              <div class="mt-1">{{ form.last_name|as_crispy_field}}</div>
            </div>
            <div class="sm:col-span-2">
              <label
                for="company"
                class="block text-sm font-medium text-gray-700 mb-2"
                >Email</label
              >
              <div class="mt-1">{{ form.email|as_crispy_field}}</div>
            </div>
            <div class="sm:col-span-2">
              <label
                for="email"
                class="block text-sm font-medium text-gray-700 mb-2"
                >Subject</label
              >
              <div class="mt-1">{{ form.subject|as_crispy_field }}</div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="message"
                class="block text-sm font-medium text-gray-700 mb-2"
                >Message</label
              >
              {{ form.message|as_crispy_field}}
            </div>

            <div class="sm:col-span-2">
              <button
                type="submit"
                class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-black px-6 py-3 text-base font-medium text-white shadow-sm"
              >
                Send message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </html>
</html>
