{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Primary Meta Tags -->
<title>Survey Wizard - The Fastest & Easiest Survey Generator</title>
<meta name="title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
<meta name="description" content="Publish your questionnaires and view all results in real-time. ">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
<meta property="og:description" content="Publish your questionnaires and view all results in real-time. ">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="Survey Wizard - The Fastest & Easiest Survey Generator">
<meta property="twitter:description" content="Publish your questionnaires and view all results in real-time. ">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
</head>


<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-black">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 right-0 flex items-center">
        <!-- Mobile menu button-->
        <button
          id="open-menu"
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <!--
                Icon when menu is closed.
    
                Heroicon name: outline/bars-3
    
                Menu open: "hidden", Menu closed: "block"
              -->
          <svg
            class="block h-8 w-8"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FFF"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!--
                Icon when menu is open.
    
                Heroicon name: outline/x-mark
    
                Menu open: "block", Menu closed: "hidden"
              -->
          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <a href="{% url 'home' %}" class="">
            <img
              class="h-12 w-auto pr-64"
              src="{% static 'img/swnav5.png' %}"
            />
          </a>
        </div>
        <!-- <div class=" sm:ml-6 sm:block sm:hidden">
          <div class="flex mt-2 space-x-4">
            <a
              href="{% url 'dashboard' %}"
              class="text-white px-3 py-2 rounded-md text-sm font-medium"
              aria-current="page"
              >Dashboard</a
            >

            <a
              href="#features"
              class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >How it works</a
            >

            <a
              href="#pricing"
              class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Pricing</a
            >

            <a
              href="#roadmap"
              class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Roadmap
            </a>
          </div>
        </div> -->
      </div>


                <div
                id="mobile-menu"
                  class="absolute inset-x-0 top-0 z-10 origin-top-right transform p-2 transition hidden"
                >
                  <div
                    
                    
                    class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-black ring-opacity-5"
                  >
                    <div class="flex items-center justify-between px-5 pt-4">
                      <div>
                        <img
                          class="h-10 w-auto"
                          src="{% static 'img/swlogohat.png' %}"                          alt=""
                        />
                      </div>
                      <div class="-mr-2">
                        <button
                          id="close-menu"
                          type="button"
                          class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        >
                          <span class="sr-only">Close main menu</span>
                          <!-- Heroicon name: outline/x-mark -->
                          <svg
                            
                            class="h-6 w-6"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"
                            />
                          </svg>
                        </button>

                       
                      </div>
                    </div>
                    <div class="space-y-1 px-2 pt-2 pb-3">
                    

                  
                
                    </div>

                    {% if user.is_authenticated%}

                    <a
                    href="{% url 'dashboard' %}"
                    class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900"
                    >My Dashboard</a
                  >
                  <a
                    href="{% url 'account' %}"
                    class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900"
                    >Manage account</a
                  >

                    <a
                      href="{% url 'logout' %}"
                      class="block w-full bg-gray-50 px-5 py-3 text-center font-medium text-indigo-600 hover:bg-gray-100 hover:text-indigo-700"
                      >Log out</a
                    >
                 
                    {% else %}

                    <a
                    href="{% url 'dashboard' %}"
                    class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900"
                    >My Dashboard</a
                  >
                  <a
                    href="{% url 'login' %}"
                    class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900"
                    >Login</a
                  >
                    
                    <a
                      href="{% url 'signup' %}"
                      class="block w-full bg-gray-50 px-5 py-3 text-center font-medium text-indigo-600 hover:bg-gray-100 hover:text-indigo-700"
                      >Sign up</a
                    >
                    {% endif %}
                  </div>
                </div>
              </div>

  <script>
    const myAccount = document.getElementById("my-account");
    const dropDown = document.getElementById("dropdown");

    document.addEventListener("click", (event) => {
      if (event.target.id != "my-account") {
        dropDown.classList.add("hidden");
      }
    });

    myAccount.addEventListener("click", function () {
      dropdown.classList.toggle("hidden");
    });
  </script>



</nav>
</html>
