{% load static %}
<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-black">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <!--
                Icon when menu is closed.
    
                Heroicon name: outline/bars-3
    
                Menu open: "hidden", Menu closed: "block"
              -->
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!--
                Icon when menu is open.
    
                Heroicon name: outline/x-mark
    
                Menu open: "block", Menu closed: "hidden"
              -->
          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <a href="{% url 'home' %}" class="">
            <img
              class="h-12 w-auto pr-64"
              src="{% static 'img/swnav5.png' %}"
            />
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex mt-2 space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="{% url 'dashboard' %}"
              class="text-white px-3 py-2 rounded-md text-sm font-medium"
              aria-current="page"
              >Dashboard</a
            >

            <a
              href="#"
              class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Features</a
            >

            <a
              href="#"
              class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Pricing</a
            >

            <a
              href="{% url 'roadmap' %}"
              class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Roadmap
            </a>
          </div>
        </div>
      </div>

      {% if user.is_authenticated %}
      <div
        class="absolute inset-y-0 right-0 flex gap-4 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div
          id="my-account"
          class="flex items-center border border-white py-2 px-4 text-white text-sm rounded hover:cursor-pointer"
        >
          My account
          <span
            ><svg
              id="my-account"
              class="ml-2.5 -mr-1.5 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              /></svg
          ></span>
        </div>
      </div>

      {% else %}

      <!-- LOGIN/SIGNUP -->
      <div
        class="absolute inset-y-0 right-0 flex gap-4 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <a
          class="py-2 px-6 border border-solid border-white text-white text-sm rounded"
          href="{% url 'login' %}"
          >Login</a
        >
        <a
          class="py-2 px-6 border border-solid border-white text-white text-sm rounded"
          href="{% url 'signup' %}"
          >Sign up &rarr;</a
        >
      </div>
    </div>
  </div>
  {% endif %}

  <div
    id="dropdown"
    class="hidden absolute right-0 top-12 z-10 text-sm bg-white"
  >
    <a
      href="{% url 'account' %}"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
      >Manage subscription</a
    >
    <a
      href="{% url 'logout'%}"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
      >Logout</a
    >
  </div>

  <script>
    const myAccount = document.getElementById("my-account");
    const dropDown = document.getElementById("dropdown");

    document.addEventListener("click", (event) => {
      if (event.target.id != "my-account") {
        dropDown.classList.add("hidden");
      }
    });

    myAccount.addEventListener("click", function () {
      dropdown.classList.toggle("hidden");
    });
  </script>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="#"
        class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
        aria-current="page"
        >Space</a
      >

      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >Team</a
      >

      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >Features</a
      >

      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >Pricing</a
      >
    </div>
  </div>
</nav>
